@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-toast-width: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  min-height: 100%;
}

body {
  font-size: 1.6rem;
}

::-webkit-scrollbar {
  width: 0.3rem;
}
::-webkit-scrollbar-track:hover {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ddd5d5;
  border-radius: 1rem;
}
/**
* Toast
*/
.Toastify__toast-container--bottom-center {
  width: auto;
}
.Toastify__toast-theme--dark.Toastify__toast {
  background: #333333;
  color: #fafafa;
  min-height: initial;
  padding: 1.6rem 2.4rem;
  border-radius: 1.6rem;
  font-weight: 600;
  box-shadow: 0 0 3.2rem 0 rgba(0, 0, 0, 0.1);
  width: auto;
}
.Toastify__close-button {
  display: none;
}
